
.icon-heart:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */